@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

body {
    font-family: 'Smythe', sans-serif;
}

h3 {
    font-size: 28px;
    margin: 0;
}

#container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: url('/header.png') center/cover no-repeat;
    min-height: 163px;
}

#content-wrapper {
    padding: 0 20px;
}

#menu,
#orders {
    margin-top: 40px;
}

#menu-list,
#orders-list {
    list-style: none;
    padding: 0;
}

.menu-item-row,
.left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item-row {
    padding: 30px 0;
    border-bottom: 1px solid #D2D2D2;
}

.item-emoji {
    font-size: 75px;
}

.item-name,
.item-ingredients,
.item-price {
    padding: 0;
    margin: 0;
}

.item-name {
    letter-spacing: 1.4px;
}

.item-ingredients {
    color: #8B8B8B;
    padding: 0 5px 10px 0
}

.add-item-btn {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #3C3C3C;
    cursor: pointer;
    transition: all .3s;
}

.add-item-btn:hover {
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
}

.remove-item-btn {
    border: none;
    background: none;
    color: #bbb;
    font-size: 0.75rem;
    cursor: pointer;
}

/* ORDERS */

#orders {
    /* display: none; */
}

.complete-order-btn,
.pay-btn {
    color: #fff;
    background-color: #16DB99;
    border: none;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.order-heading {
    text-align: center;
}

#orders-list {
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.order-item-row {
    padding: 10px 0;
}

.order-quantity {
    color: #bbb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75rem;
}

.order-total-row {
    margin-bottom: 40px;
}

/* UTILITY */
.split-row {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}